<!-- <div class="min-h-[100vh]">
  <div class="cont">
    <mat-form-field class="example-full-width">
      <mat-label>search for a user</mat-label>
      <input
        matInput
        placeholder="enter id"
        [(ngModel)]="searchId"
        (input)="searchId ? loadUsers(1, searchId) : loadUsers(1)"
      />
    </mat-form-field>
  </div>
  <div class="cont place-content-center">
    @if (loading) {
    <app-loading></app-loading>
    } @else {
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-5">
      @for (item of users; track $index) {
      <div
        class="p-6 bg-gray-100 border transition border-gray-200 cursor-pointer rounded-lg shadow hover:bg-gray-200 flex flex-col items-center justify-center"
        (click)="navigateToUserDetails(item.id)"
        appSize
      >
        <img [src]="item.avatar" alt="" />
        <h1>name:{{ item.first_name }} {{ item.last_name }}</h1>
        <h1>email:{{ item.email }}</h1>
      </div>
      }
    </div>

    <div class="example-button-row mt-5 flex justify-center w[100%] gap-3">
      @if (count == 1) {
      <button mat-raised-button disabled (click)="decrement()">previous</button>
      <button mat-raised-button color="primary" (click)="increment()">
        next
      </button>
      } @else if (count == 2) {
      <button mat-raised-button color="basic" (click)="decrement()">
        previous
      </button>
      <button mat-raised-button color="primary" disabled>next</button> }
    </div>
    }
  </div>
</div> -->
<div class="min-h-[100vh]">
  <div class="cont">
    <mat-form-field class="example-full-width">
      <mat-label>search for a user</mat-label>
      <input
        matInput
        placeholder="enter id"
        [(ngModel)]="searchId"
        (input)="searchId ? loadUsers(1, searchId) : loadUsers(1)"
      />
    </mat-form-field>
  </div>
  <div class="cont place-content-center">
    @if (loading) {
    <app-loading></app-loading>
    } @else {
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-5">
      @for (item of users; track $index) {
      <app-user-card [user]="item"></app-user-card>

      }
    </div>

    <div class="example-button-row mt-5 flex justify-center w[100%] gap-3">
      @if (count == 1) {
      <button mat-raised-button disabled (click)="decrement()">previous</button>
      <button mat-raised-button color="primary" (click)="increment()">
        next
      </button>
      } @else if (count == 2) {
      <button mat-raised-button color="basic" (click)="decrement()">
        previous
      </button>
      <button mat-raised-button color="primary" disabled>next</button> }
    </div>
    }
  </div>
</div>
